.sidebar {
    width: 20%;
    height: 100%;
    background-color: #bfc9f6;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 1%;
    position: fixed;
}

.button {
    background-color: teal;
    width: 100%;
    border: none;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: 0;
    color: white;
    padding-top: 10px;
    text-align: left;
    cursor:pointer;
 }
 
 .button:hover {
    background: darkcyan;
 }

 .line {
    background-color: hsl(0, 0%, 61%);
    height: .5;
 }


 .modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main { 
    position:fixed;
    background: white;
    width: 40%;
    height: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }